@using EntityLayer.Concrete
@model List<Movie> 

<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">Yeni Filmler</h2>
                    <!-- end content title -->
                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Yeni Filmler</a>
                        </li>
                    </ul>
                    <!-- end content tabs nav -->
                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="New items">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Yeni Filmler</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row row--grid">
                    @foreach (var item in Model)
                    {

                   
                    <!-- card -->
                    <div class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <a href="details1.html" class="card__cover">
                                <img src="@item.MovieImage" alt="">
                                <span class="card__play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                                </span>
                            </a>

                            <div class="card__content">
                                <h3 class="card__title"><a href="#">@item.MovieTitle</a></h3>
                                <span class="card__category">
                                    <a href="#">@item.Category.CategoryName</a>
                                    <a href="#">@item.Category.CategoryName</a>
                                </span>

                                <div class="card__wrap">
                                    <span class="card__rate"> @item.MovieStars</span>

                                    <ul class="card__list">
                                        <li>@ViewBag.v2</li>
                                        <li>@ViewBag.v1</li>
                                    </ul>
                                </div>

                                <div class="card__description">
                                    <p>@item.MovieDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                  
                    }
                    <!-- end card -->
                </div>
            </div>
          
        </div>
        <!-- end content tabs -->
    </div>
</section>